<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/markdown.css">
    <link rel="stylesheet" href="/editor/css/editormd.min2.css" />
  </head>
  <body>
    <div class="markdown-body">
        <h1><%= data.title %></h1>
        <p><%- data.content %></p>
    </div>
  </body>
</html>
