<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/markdown.css">
  </head>
  <body>
    <div class="markdown-body">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %>,this blog is building.</p>
    </div>
  </body>
</html>
